html,
body {
  height: 100%;
  background-color: #000568;
}

body {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}

.form-signin-container {
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

.form-signin {
  margin-bottom: 10px;
}

.footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
